* {
    margin: 0;
    box-sizing: border-box;
}

.error {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1em;
    width: 50%;
    border: blue solid 2px;
    border-radius: 6px 6px 6px 0;
}

.note {
    text-align: center;
    padding: 1em;
}

.input-group {
    margin-bottom: 0.65em;
}

input,
select {
    display: flex;
    width: 100%;
    padding: 0.85em;
}

button {
    padding: 0.85em;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 6px 6px 6px 0;
}